<ipe version="60030" creator="Ipe 6.0 preview 30">
<info created="D:20081023115054" modified="D:20081024104656" bbox="cropbox"/>
<ipestyle>
</ipestyle>
<ipestyle>
</ipestyle>
<page gridsize="16">
<layer name="alpha"/>
<view layers="alpha" active="alpha"/>
<view layers="alpha" active="alpha"/>
<path layer="alpha" stroke="black" pen="normal">
160.956 94.1058 m
384.546 94.1058 l
384.546 221.5 l
160.956 221.5 l
h
</path>
<path stroke="black" pen="normal">
28.1601 0 0 28.1601 266.943 257.83 e
</path>
<path stroke="black" pen="normal">
27.6461 0 0 27.6461 271.534 54.1005 e
</path>
<path stroke="black" pen="normal">
18.7576 0 0 18.7576 271.162 158.572 e
</path>
<text stroke="black" matrix="1 0 0 1 -4.30923 0.538654" pos="265.443 256.754" type="label" width="12.742" height="8.169" depth="0" valign="baseline" size="large">I-s</text>
<text stroke="black" matrix="1 0 0 1 -5.11721 0.269327" pos="268.62 50.2213" type="label" width="16.809" height="8.169" depth="0" valign="baseline" size="large">B-s</text>
<path stroke="black" pen="normal">
243.589 55.6736 m
205.076 67.2277 l
234.486 102.24 l
</path>
<path stroke="black" pen="normal">
299.259 56.3738 m
327.269 68.2781 l
301.71 102.94 l
</path>
<mark stroke="black" pos="270.199 132.351" shape="1" size="normal" fill="black" pen="normal"/>
<mark stroke="black" pos="298.559 161.061" shape="1" size="normal" fill="black" pen="normal"/>
<mark stroke="black" pos="269.849 186.27" shape="1" size="normal" fill="black" pen="normal"/>
<mark stroke="black" pos="243.239 161.061" shape="1" size="normal" fill="black" pen="normal"/>
<text stroke="black" matrix="1 0 0 1 0 -2.42394" pos="267.748 157.91" type="label" width="6.243" height="6.177" depth="0" valign="baseline" size="Large">c</text>
<path stroke="black" pen="normal">
238.285 261.092 m
200.051 249.713 l
222.354 213.755 l
221.899 213.755 l
</path>
<path stroke="black" pen="normal">
294.725 258.816 m
337.966 252.899 l
309.745 211.024 l
</path>
<text stroke="black" matrix="1 0 0 1 -2.1546 -4.57859" pos="278.58 131.263" type="label" width="12.785" height="9.965" depth="2.15" valign="baseline" size="Large">$k_{6}$</text>
<text stroke="black" matrix="1 0 0 1 1.61598 -0.269308" pos="302.012 166.814" type="label" width="12.785" height="9.965" depth="2.15" valign="baseline" size="Large">$k_{4}$</text>
<text stroke="black" matrix="1 0 0 1 2.15463 -4.30922" pos="275.079 189.707" type="label" width="12.785" height="9.965" depth="2.15" valign="baseline" size="Large">$k_{7}$</text>
<text stroke="black" matrix="1 0 0 1 -5.38655 2.15463" pos="236.565 164.929" type="label" width="12.785" height="9.965" depth="2.15" valign="baseline" size="Large">$k_{5}$</text>
</page>
</ipe>
